@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f9ff;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}
